h2 {
  margin-bottom: 40px;
}

h3 {
  color: crimson;
}

p.success {
  color: green;
  margin-top: 10px;
}

div.bordered {
  border: 1px solid crimson;
}

a.router-link {
  font-weight: bold;
  font-size: larger;
}
